/* login/register components */
.flex-container{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.card{
  width: 50vw;
}


/* chat section */
.header-area{
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  background-color: black;
  color: white;
}

.userpfp{
  margin-left: 20px;
  padding: 0px;
}

.userpfp img{
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.message-area{
  padding-top: 1%;
  padding-bottom: 2%;
  background-color: rgba(0, 0, 0, 0.7);
}

.text-area{
  position: relative;
  text-align: center;
}

.text-area form{
  /* position: absolute;
  bottom: 0; */
  background-color: rgba(0, 0, 0, 0.7);

}


/* message components */
.userMessage{
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 15px;
  max-width: 60vw;
}
.chatterMessage{
  /* margin-left: 20px; */
  margin-bottom: 10px;
  padding: 0px;
  padding-left: 10px;
  border-radius: 15px;
}

.row .chatterMessage{
  max-width: 60vw;
}

.messagecontent{
  padding: 5px;
  margin-bottom: 0px;
}